= content_for :header do
  = stylesheet_link_tag 'https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css'
  = javascript_include_tag 'https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'


= link_to 'Show on the Map', "", onclick: "showMapForm()", remote: true, id: "map_link"
.show_map#map
